body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    
}

.square{
    box-sizing: border-box;
}


button{
    font-family: inherit;
    font-size: inherit;
    width: 10%;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #04AA6D;
    color: white; 
    cursor: pointer;
}


